.App{
  padding: 25px;
  background-color: #364357;
  position: relative;
}
.App-logo {
  height: 10vmin;
  pointer-events: none;
  float: left;
  display: inline-block;
}
.add-contact{
  position: absolute;
 background-color: orangered;
 padding: 20px;
 width: 30%;
 top: 20%;
 left:30%;
 box-shadow: 0 3px 2.5px #364353;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
.contactList{
  width:45%;
  position: absolute;
  top: 55%;
  left: 25%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
